.card {
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 1.25rem;
  background-color: var(--bg);
  color: var(--color);
}

.title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.multiSelect {
  width: 100%;
  background-color: var(--bg);
  color: var(--color);
}